body{
	position: relative;
}
#footer{
	display: inline-block;
	width: 100%;
	height: 0.99rem;
	border-top: 0.01rem solid #dddddd;
	background-color: #F6F6F6;
	display: flex;
	position: fixed;
	left: 0rem;
	bottom: 0rem;
}
#footer li{
	width: 0.5rem;
	height: 0.73rem;
	float: left;
	padding-top: 0.15rem;
}
.footer-item{
	margin-left: 0.6rem;
}
.footer-item2{
	margin-left: 1.37rem;
}
.logo{
	width: 0.4rem;
	height: 0.4rem;
	float: left;
}
.logo img{
	width: 100%;
	height: 100%;
}
#footer span{
	float: left;
	width: 0.5rem;
	font-size: 0.14rem;
	text-align: center;
	display: block;
	margin-left: -0.06rem;
}

a{
	color: #000;
}
