body{
	background-color: #F5F5F5;
}
#header{
	width: 100%;
    height: 1.17rem;
    margin: 0 auto;
    background-color: #0093FF;
    padding:0 .29rem;
}
.header-left span{
	font-size: 0.3rem;
    float: left;
    padding-top: 0.46rem;
    color: #fff;
}

#personal{
	width: 100%;
	height: auto;
}
.ziliao{
	width: 100%;
	height: 2.76rem;
	margin-top: 0.16rem;
	background-color: #fff;
	border-bottom: 0.01rem solid #dddddd;
}
.ziliao li{
	width: 100%;
	height: 1.38rem;
	border-top: 0.01rem solid #dddddd;
}
.personal-touxiang h3{
	font-size: 0.36rem;
	padding-left: 0.29rem;
	line-height: 1.38rem;
	font-weight: normal;
	float: left;
}
.img{
	width: 1.12rem;
	height: 1.12rem;
	border-radius: 50%;
	float: right;
	background-color: red;
	margin-top: 0.13rem;
	margin-right: 0.29rem;
}
.personal-yonghuming h3{
	font-size: 0.36rem;
	padding-left: 0.29rem;
	line-height: 1.38rem;
	font-weight: normal;
	float: left;
}
.personal-yonghuming h4{
	font-size: 0.3rem;
	color: #999999;
	float: right;
	margin-right: 0.29rem;
	line-height: 1.38rem;
}
.zhanghao{
	width: 100%;
	height: 5.76rem;
	margin-top: 0.16rem;
	background-color: #fff;
	border-top: 0.01rem solid #dddddd;
}
.zhanghao li{
	width: 100%;
	height: 0.96rem;
	border-bottom: 0.01rem solid #dddddd;
	padding: 0 0.29rem;
}
.zhanghao-title{
	font-size: 0.28rem;
	font-weight: normal;
	color: #999999;
	line-height: 0.96rem;
}
.zhanghao span{
	font-size: 0.28rem;
	line-height: 0.96rem;
	float: left;
}
.zhanghao-iphone{
	font-size: 0.24rem!important;
	color: #9F9F9F!important;
	float: right;
	line-height: 0.96rem;
}
.zhanghao h5{
	font-size: 0.3rem;
	color: #2495FF;
	float: right;
	line-height: 0.96rem;
}
.anquan{
	width: 100%;
	height: 3.83rem;
	background-color: #fff;
	margin-top: 0.16rem;
}
.anquan li{
	width: 100%;
	height: 0.94rem;
	border-top: 0.01rem solid #dddddd;
	padding: 0 0.29rem;
}
.anquan-title{
	font-size: 0.28rem;
	color: #9D9D9D;
	line-height: 0.94rem;
}
.anquan span{
	font-size: 0.28rem;
	line-height: 0.94rem;
	float: left;
}
.anquan h5{
	font-size: 0.3rem;
	color: #2495FF;
	float: right;
	line-height: 0.94rem;
}